:host {
  display: block;


}


h2 {
	font-size: 18px;
	font-weight: 300;
	color: #333333;
	margin: 10px 0px 10px 0px;
	padding: 0px; 
}

small {
	color: #C0C9CF;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
}


#leftmenu {
	width: 240px;
	min-width: 24vw;

}



#leftmenu2 {
	width: 240px;
	min-width: 24vw;
}


.subcats {
	padding: 10px;
	border-bottom: 1px solid #E6E6E6;
	font-size: 14px;
	font-weight: 400;
}


.subcats.core-selected {
	font-weight: 600;
	border-bottom: 2px solid #219dc8;
	padding: 10px 10px 10px 15px;
/*    background-image: url("../../images/next-blue.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right; */
  }


#subcat {
/*	border-top:1px solid #999999;*/
	padding: 8px 8px 8px 0px; 
	font-weight: 600;
	font-size: 14px;
	border-bottom: 1px solid #666666;
}


#bckbtn {
	width: 15px;
	margin: 0px 14px 0px 0px;
}



#leftmenu h2 {
	font-size: 24px;
}


#leftmenu a {
	font-weight: 600;
	font-size: 14px;
}

.addbtn {
	margin-top: 30px; 
}

.addbtn h4 {
	background-color: #E6E6E6;
	margin: 12px 5px 12px 0px;
	padding: 8px 10px 8px 10px; 
	font-size: 13px;	
	width: 170px;
	font-weight: 400;
	margin-top: 20px; 
	text-align: center;
}




@media only screen and (max-width: 320px) {


#leftmenu {
	width: 76vw;
	margin: 20px 12vw 0vw 12vw;
	padding: 0px;
}

#leftmenu2 {
	width: 100vw;
	padding: 0px;
}

.subcats {
	padding: 12px 10px 12px 12vw;
}

#subcat {
	width: 76vw;
	margin: 10px 12vw 0vw 12vw;
	padding: 0px 0px 10px 0px;
}

#subcatdetail {
		width: 76vw;
	margin: 10px 12vw 0vw 12vw;
	padding: 0px 0px 10px 0px;
}


}

