:host {
  display: block;
}

#startbtns {
		width: 100vw;
		background-color: #219dc8;

}




.startbtn {
	font-size: 14px;
	font-weight: 300;
	color: rgba(255,255,255,1);
/*	margin: 0px 15px 0px 0px;
	background-color: rgba(255,255,255,0.05);*/
	padding: 0.5vw 20px 0.5vw 20px;
	min-width: 220px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.startbtn:hover {
	background-color: rgba(255,255,255,0.1);
}


.startbtnicon {
	opacity: 0.5;
	width: 30px;
	margin-right: 10px;
}

.iconvlak {

}