:host {
  display: block;
  width: 100vw;
  background-color: #219dc8;
}

#topcontainer {
	width: 76vw;
	margin: 0px 12vw 0px 12vw;
}




#group {
	margin: 0px 0px 50px 0px; 
}


.grouptitle {
	margin: 0px 0px 20px 0px;
	width: 76vw;

}

.grouptitle h1 {
	color: rgba(0,0,0,0.35);
	margin: 35px 0px 10px 0px;
	font-size: 3vw;
	font-weight: 300;
	padding: 0px;
}


.groupicon {
	height: 30px;
	margin: 18px 15px 0px 0px;

}



.apptile {
	background-color: rgba(0,0,0,0.05);
	width: 180px;
	height: 120px;
	padding: 30px 10px 20px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


.apptile:active {
	background-color: #EBEBEB;
}


a {
	text-decoration: none;

}

.apptile p {
	width: 160px;
	margin: 10px 10px 15px 10px;
	text-align: center;
	color: #333333;
	font-size: 14px;
}

.apptile img {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	background-color: white;
	margin: 0px 55px 10px 55px;
	padding: 10px;
	opacity: 0.8;
}

.apptile img:hover {
	opacity: 1;
}



.switcherbtn {
	background-color: none;
	border: none;
	padding: 0px;
}

.switcherbtn:active {
	background-color: none;
	border: none;
	padding: 0px;
}



.switcherbtn img {
	background-color: none;
	width: 20px;
	padding: 10px 0px 0px 0px;
}


.activated {
	opacity: 1;
}


.notactivated {
	opacity: 0.25;
}





/*h1 {
	color: rgba(0,0,0,0.35);
	margin: 15px 0px 5px 0px;
	font-size: 5vw;
	font-weight: 300;
	padding: 0px;
}



#container {
	width: 76vw;
	margin: 0vw 12vw 1vw 12vw;
}


#container2 {
	width: 76vw;
	margin: 0vw 12vw 2vw 12vw;
	padding-bottom: 5vw;
}





.stralendeA {
	width: 4vw;
	min-width: 60px;
	padding: 0vw 1vw 1vw 1vw;
}



p {
	color: white;
	margin: 0px;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

#startbtns {
	width: 100vw;
	background-color: #219dc8;
	margin-top: 10px;
}


.startbtn {
	background-color: rgba(255,255,255,0.05);
	min-width: 180px;
	height: 150px;
	padding: 0px 10px 0px 10px;
	margin-left: 10px;
	margin-bottom: 10px;

}


.startbtn:hover {
	background-color: rgba(255,255,255,0.08);
}



hr {
	background: rgba(0,0,0,0.1);
	height: 1px;
	width: 100vw;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}


#morebtn {
	margin-left: 12vw;
	padding: 30px 50px 30px 0px;
}



#morebtn a {
	color: rgba(0,0,0,0.25);
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
}

.knooppuntbtn {
	width: 22px; 
	min-width: 22px; 
	margin: 0px 12px 0px 8px;
}



.startbtnicon {
	opacity: 0.5;
	width: 40px;
	margin-bottom: 10px;
}


*/










/* MOBILE UITZONDERINGEN */


@media only screen and (max-width: 320px) {


#topcontainer {
	width: 100vw;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}



.apptile {
	background-color: rgba(0,0,0,0.05);
	width: 156px;
	padding: 25px 0px 15px 0px;
	margin: 0px 4px 4px 0px;
}


.apptile p {
	width: 130px;
	text-align: center;
	color: #333333;
	font-size: 14px;
	margin: 10px 15px 10px 15px;
}



.apptile img {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background-color: white;
	margin: 0px 48px 10px 48px;
	padding: 15px;
	opacity: 0.8;
}



#group {
	margin: 0px 0px -4px 0px; 
}


.grouptitle {
	width: 80vw;
	margin: 0px 10vw 15px 10vw;
}




.grouptitle h1 {
	color: rgba(0,0,0,0.35);
	margin: 20px 0px 10px 0px;
	font-size: 10vw;
	font-weight: 300;
	padding: 0px;
}






}
