:host {
  display: block;


}

h3 {
	font-weight: 400;
	font-size: 18px;
	color: #219dc8;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	text-decoration: underline;
}

p {
	margin: 0px;
	font-size: 13px;
	color: #666666;
}


.catitem {
	width: 240px;
	min-width: 24vw;
	margin: 12px 5px 12px 0px;
}