:host {
	display: inline-block;
}


/*.uploader {
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	max-height: 200px;
	width: 30px;
	height: 30px;
}

.uploader:hover {
	opacity: 1;
}



h3 {
	color: white;
	font-weight: 300;
	padding: 2px 5px 2px 5px;

}


.camicon {
	width: 28px;
	margin-right: 10px;
}
*/