:host {
	display: block;
	background-color: white;
	font-family: 'Open Sans', sans-serif;

}


/*  STYLING GENERAL LEADERBOARD */


.leaderboard {
	width: 76vw;
	padding: 0vw 12vw 20px 12vw;
	background-color: #95d2b7;
}

.stralendeA {
	width: 4vw;
	min-width: 50px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px;
}


.searchbox {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	border: none;
}

.leaderboard h1 {
	font-weight: 300;
	color: #333333;
	font-size: 28px;

}

.appicon {
	width: 35px;
	margin-right: 10px;
	opacity: 0.5;
}



.sortbtn {
	border: 1px solid #EBEBEB;
	border-bottom: 1px solid #999999;
	color: #666666;
	background-color: white;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	padding: 4px 6px 4px 6px;
	outline: 0;
	margin: 0px 5px 0px 0px;
}



.sortbtn:hover {
	border: 1px solid rgba(149,210,183,0.5);
	border-bottom: 1px solid #6EB897;
	color: #6EB897;
}

#sortsubs {
	width: 76vw;
	padding: 10px 12vw 5px 14vw;
	margin: 0px 0px 5px 5px;
}


.convcomments {
	color: #333333;
	margin-left: 5px;
	font-weight: 400;
/*	background-color: #CEF2E2;*/
}

#generalsort {
	background-color: white;
	width: 76vw;
	padding: 30px 12vw 5px 12vw;
	margin: 0px;
}


#generalsort p {
	color: #666666;
	font-size: 11px;
	margin: 0px 10px 0px 0px;
}

.startbtn {
	margin: 10px 20px 10px 0px;
	background-color: rgba(33,157,200,0.1);
	border: none;
	border-radius: none;
	color: #219dc8;
	font-size: 12px;
	padding: 6px 10px 6px 10px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: 0;
}



.startbtn img {
	width: 20px;
	margin: 0px 6px 0px 0px;
}




/* STYLING BABBEL */

/*.babbelbabbel {
	border-bottom: 1px solid #EBEBEB; 
}
 */

.convcontent {
	border-left: 1px solid #EBEBEB;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 15px;
}


/* PARENTMODE */
:host([mode=parent]) .convitem {
/*	border-bottom: 1px solid #f5f5f5; */
	margin: 0px;
	padding: 20px 12vw 20px 12vw;
	background-color: white;
}



:host([mode=parent]) .convitem h1 {
	font-weight: 300;
	color: #60BF95;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	max-width: 60vw;
}





/* CHILDMODE */
:host([mode=child]) .convitem  {
	padding: 8px 12vw 14px 14vw;
}

:host([mode=child]) .convitem p {
	font-weight: 400;
	color: #333333;
	font-size: 16px;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	max-width: 60vw;

}

:host([mode=child]) hr {
/*	color: #f00;
*/
	background-color: #EBEBEB;
	height: 1px;
	padding: 0px;
	margin: 0px 12vw 0px 12vw;
	border: none;
	width: 76vw;
}




.convitem p {
	font-weight: 300;
	color: #333333;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}



.convitem small {
	font-weight: 400;
	color: #999999;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	margin-top: 5px;

}



/* STYLING POSTCOMMENT */

#newitem {
	width: 100vw;
	padding: 30px 12vw 30px 12vw; 
/*	border-bottom: 1px solid #EBEBEB;
*/	background-color: white;
}


#newitem input {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	border: 1px solid #EBEBEB;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	margin: 0px;
	min-width: 50vw;
	padding: 1vw;
}

#newitem input:focus {
	background-color: #F5F5F5;
	border: 2px solid #60BF95;

	outline:0;
	    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
    background: transparent;

}


#newitem p {
	color:  #6BB393;
	text-decoration: underline;
}



#inputbtns {
	margin: 0px; 
	padding: 0px; 
	width: 20vw;
}



#submitbtn {
	font-family: 'Open Sans', sans-serif;
	margin: 0px; 
	padding: 14px;
	border: 1px solid #EBEBEB;
	background-color: #EBEBEB;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
}



.itemaddons {
	color: #999999;
	text-decoration: underline;
	border: none;
	padding: 0px;
	margin: 6px 15px 6px 0px;
	background-color: white;
	font-size: 14px;
}





/* STYLING VOTE-ITEM */

.voterij svg {
  display: block;
  fill: #666666;
  height: 10px;
  overflow: hidden;
  width: 20px;
}

.voterij svg.highlight {
  fill: #95d2b7;
  width: 20px;
}


.voterij p {
  margin: 5px 0px 5px 0px;
  padding: 0px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 20px;
}


.voterij {
	margin: 6px 15px 0px 0px;
}



.voterij small {
  margin: 3px 0px 3px 0px;
  color: #666666;
  font-weight: 600;

}






