:host {
	display: block;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}



.leaderboard {
	width: 76vw;
	padding: 0vw 12vw 20px 12vw;
	background-color: rgba(114,191,157,0.75);
	margin: 0px;
	display: inline-block;

}

.stralendeA {
	width: 4vw;
	min-width: 60px;
	padding: 0px;
}

.appicon {
	width: 35px;
	margin-right: 10px;
	opacity: 0.5;
}

.searchbox {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	border: none;
}


h1 {
	font-weight: 300;
	color: #333333;
}


.container {
	width: 100vw;
	background-color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}


.canvas {
	width: 100vw;
	padding: 0vw 0vw 0vw 0vw;
	background-color: white;

}



#toolbarbtns {
	margin: 0px 0px 0px 0px;
	width: 76vw;
	padding: 20px 12vw 20px 12vw;
	background-color: white;
	border-bottom: 1px solid #f5f5f5;
		background-color: white;

}



core-dropdown {
	border: 1px solid #f5f5f5;
	margin: 0px 0px 0px 0px;
	font-size: 11px;

}

core-item {
	min-width: 130px;
	padding: 4px 12px 4px 12px;
	margin: 0px;
	border-bottom: 1px solid #f5f5f5; 
}



#newconv {
	display: block;
	background-color: white;
	border-radius: 0px;
	border: none; 
	font-family: 'Open Sans', sans-serif;
	color: #219dc8;
	text-decoration: underline;
	font-size: 14px;
	margin: 5px 15px 5px 0px;
	padding: 4px 12px 4px 0px;
	cursor: pointer;
	outline: 0;
}


.new {
	width: 22px;
	margin-right: 10px; 
}

.sortbtns {
	display: block;
	background-color: white;
	border-radius: 0px;
	border: 1px solid #f5f5f5;
	border-bottom: 1px solid #cccccc;
	color: #999999;
	font-size: 11px;
	padding: 2px 10px 2px 10px;
	margin: 5px 10px 5px 0px;
	min-width: 130px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}


core-drawer-panel {
	display: block;
}



.convitem {
	border-bottom: 1px solid #f5f5f5;
	margin: 0px;
	padding: 20px 12vw 20px 12vw;
	background-color: white;
}


.convitem h1 {
	font-weight: 300;
	color: #72BF9D;
	font-size: 22px;
	margin: 0px;
	padding: 0px;
}


.convitem p {
	font-weight: 300;
	color: #333333;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}


/*
.updownbtns {
	padding: 0px 20px 0px 0px;
	margin: 0px 20px 0px 0px;
	border-right: 1px solid #EBEBEB;
}*/

.updownbtns button {
	background-color: white;
	border: none;
	outline: 0;
	cursor: pointer;
}


.updownbtns p {
	margin: 3px 0px 3px 0px;
	padding: 0px;
	color: black;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	width: 20px;
}


.updownimg {
	width: 18px;
}


.convcontent {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 20px;
	border-left: 1px solid #EBEBEB;
}


.convcontent small {
	margin: 10px 0px 0px 0px;
	color: #999999;
	font-size: 12px;
	font-weight: 300;
}



.convcomments {
	color: #333333;
	font-weight: 400;
}





#newitem {
	width: 76vw;
	padding: 30px 12vw 30px 12vw; 
	border-bottom: 1px solid #EBEBEB;
}


#newitem input {
	font-family: 'Open Sans', sans-serif;
	background-color: #EBEBEB;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	margin: 0px 0px 10px 0px;
	min-width: 74vw;
	padding: 1vw;
}

#newitem input:focus {
	background-color: #F5F5F5;
	border: 2px solid #72BF9D;
	outline:0;
	    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
    background: transparent;

}


#newitem p {
	color:  #6BB393;
	text-decoration: underline;
}



#inputbtns {
	padding: 0px;
	margin: 0px;
	min-width: 76vw;
}



#submitbtn {
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0px 0px 15px;
	padding: 10px;
	min-width: 50px;
	border: none;
	background-color: #72BF9D;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 300;
	color: white;
}



.itemaddons {
	color: #999999;
	text-decoration: underline;
	border: none;
	padding: 0px;
	margin: 6px 15px 6px 0px;
	background-color: white;
	font-size: 14px;
	border: 
}








#detail {
	background-color: white;
	width: 76px;
	padding: 0px 12vw 0px 12vw;
	margin: 0px;
}






@media only screen and (max-width: 320px) {

#newitem input {
	min-width: 70vw;
	padding: 3vw;
}

.convitem {
	border-bottom: 1px solid #f5f5f5;
	margin: 0px;
	padding: 20px 20px 20px 20px;
}


}
