:host {
	display: block;
	width: 100vw;
	margin: 0px;
	padding: 0px;
}

li {
	font-weight: 400;
	/*font-size: 18px;*/
	color: #219dc8;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	text-decoration: underline;
}

.leaderboard {
	width: 76vw;
	padding: 0vw 12vw 0vw 12vw;
	background-color: #C0C9CF;
	height: 180px;
	margin: 0px auto 0px auto;
	display: inline-block;
}

.stralendeA {
	width: 4vw;
	min-width: 60px;
	padding: 0px;
}


.searchbox {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	border: none;
}

.appicon {
	width: 35px;
	margin-right: 10px;
	opacity: 0.5;
}



.container {
	width: 100vw;
	margin: 0px;
}



#canvas {
	width: 76vw;
	margin: 20px 12vw 0vw 12vw;
	padding: 0px;
	}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
}


h2 {
	font-size: 18px;
	font-weight: 300;
	color: #333333;
}

small {
	color: #C0C9CF;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
}

/*

#leftmenu {
	width: 240px;
	min-width: 24vw;
}

.lijntje {
	border-bottom: 1px solid #E6E6E6;
}

.column {
	width: 60vw;
}

.subcats {
	padding: 10px;
	border-bottom: 1px solid #E6E6E6;
	font-size: 14px;
	font-weight: 400;
}



#leftmenu h2 {
	font-size: 24px;
}


#leftmenu a {
	font-weight: 600;
	font-size: 14px;
}
*/
.addbtn {
	margin-top: 30px; 
}

.addbtn h4 {
	background-color: #E6E6E6;
	margin: 12px 5px 12px 0px;
	padding: 8px 10px 8px 10px; 
	font-size: 13px;	
	width: 170px;
	font-weight: 400;
	margin-top: 20px; 
	text-align: center;
}

