:host {
	display: block;
	background-color: #D9D9D9;
}


#inlog {
	background-color: red;
	width: 100%;
	height: 100%;
}

.avataricon {
	height: 30px;
	margin: 4px 15px 0px 0px;
	border-radius: 50%;
}







/*#canvas {
	min-height: 50%;
}
*/

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
	font-size: 26px;
	padding: 0px;
	margin: 0px 15px 0px 0px;
}




p {
	color: #333333;
	font-size: 14px;
}

small {
	margin-bottom: 10px;
	font-size: 0.75em;
	color: #dddddd;
	font-weight: 400;
/*	padding: 5px 10px 5px 10px;	*/
}

.canvas {
/*	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(http://fc02.deviantart.net/fs71/i/2011/274/6/f/ocean__sky__stars__and_you_by_muddymelly-d4bg1ub.png);*/
	width: 76vw;
	margin: 0px 12vw 0px 12vw;
	padding: 45px 0px 0px 0px;
}

.stralendeA {
	width: 4vw;
	min-width: 50px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px;
	margin: 0px;
}

.avatar {
	width: 60px;
	margin-right: 20px;
	border-radius: 30px;
}



.searchbox {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	border: none;
}

.leaderboard h1 {
	font-weight: 300;
	color: #333333;
	font-size: 28px;
}

.appicon {
	width: 35px;
	margin-right: 10px;
	opacity: 0.5;
}

.logoutbtn {
	margin-top: 0;
}

input {
	width: 30vw;
	margin-bottom: 10px;
	height: 30px;
	border: none;
	border-radius: none;
	padding: 10px;
	outline: 0;
	opacity: 0.8;
	min-width: 320px;
}

input:focus {
	opacity: 1;
}


button {
	border: none;
	border-radius: none;
	background-color: #219dc8;
	color: white;
	font-weight: 300;
	font-size: 14px;
	padding: 10px;
	min-width: 100px;
	margin: 20px 0px 0px 0px;
}








.basicprof {
	min-width: 70%;
	padding-bottom: 20px;
}





.notloggedin {
	background-color: #D9D9D9;
	width: 100%;
	height: 100%;
}


