:host {
	display: inline-block;
	min-width: 200px;
    width: 100%;
    margin: 0 auto;
    background-color: #EBEBEB;
}

juicy-tile-list {
	width: auto;
	display: block;
	padding: 0px;
	margin: 20px auto 0px auto;
	background-color: transparent;
	display: block;
}

