:host {
	display: inline-block;
	min-width: 200px;
    width: 100%;
    margin: 0 auto;
    background-color: #EBEBEB;
}

juicy-tile-list {
	width: auto;
	display: block;
	padding: 20px;
	margin: 0px auto 0px auto;
	background-color: transparent;
	display: block;
}

.tip {
	width: 50vw;
	height: 200px;
	background-color: #D3D3D3;
	color: white;
	display: block;
	border-radius: 10px;
}

.tip .container {
	margin: 20px;
}

.tip h3 {
	font-size: 1em;
}
