:host {
	display: block;
	/*background-color: rgba(255,255,255,0.2);	*/
}

/*.openDial {
	max-width: 100px;
}*/
.objectje {
	margin-right: 20px;
	width: 100%;
/*	background-color: rgba(205,205,205,0.5);
*/
}

.openDial {
	background-color: green;
}

.plusbtn {
	margin-top: -10px;
	background-color: #595959;
	border:dotted 2px white;
	-moz-border-radius-topleft: 75px;
	-moz-border-radius-topright:75px;
	-moz-border-radius-bottomleft:75px;
	-moz-border-radius-bottomright:75px;
	-webkit-border-top-left-radius:75px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-left-radius:75px;
	-webkit-border-bottom-right-radius:75px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	color: white;
}



.tester {
	border: 2px solid yellow;
	width: 150px;
	height: 20px;
	margin-right: 10px;
}