:host {
  display: block;
  z-index: 999;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

a {
	color: white;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

h1 {
	font-size: 14px;
	font-weight: 100;
}

core-dropdown-menu {
	background-color: #333333;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	color: #808080;
}

core-dropdown {
	background-color: #333333;
}

core-item {
	padding: 5px 14px 0px 18px;
}

core-selector {
	background-color: #333333;
}


.dropdown {
	background-color: #333333;
	border-top: 1px solid #555555;
	padding: 0px;
	margin: 0px;
}

core-field {
	background-color: #555555;
	color: white;
}

#kaai {
	background-color: #333333;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 60px;
	-webkit-transition: height 0.35s;
	-moz-transition: height 0.35s;
	transition: height 0.35s;
}

#mobilekaai {
	background-color:  #333333;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 60px;
			-webkit-transition: height 0.35s;
	-moz-transition: height 0.35s;
	transition: height 0.35s;
}

.kaaibtns {
	width: 26px;
	height: 26px;
	margin: 0px 8px 0px 8px;
	padding: 0px;

}

.mobilekaaibtns {
	width: 28px;
	height: 28px;
	margin: 2px 10px 2px 10px;
	padding: 0px;
}


.helpings {
	padding-left: 2vw;
}


.tools {
	padding-right: 2vw;
}

/*
.avatardesktop {
	width: 24px;
	height: 24px;
	border-radius:50%;
	margin: 0px 8px 0px 8px;
	padding: 0px;
}


.avatarmobile {
	width: 30px;
	height: 30px;
	border-radius:50%;
	margin: 2px 8px 2px 8px;
	padding: 0px;
}

*/

.avatarbox {
	width: 4.5vw;
	height: 4.5vw;
	max-width: 26px;
	max-height: 26px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0px 8px 0px 8px;
}

.avatarbox img {
 	width: 100%;
 	min-height: 26px;
 }

#paneBar {
	width: 100%;
	position: absolute;
	top: 60px;
	height: 300px;
  margin: 0px;
  z-index: 99;
}

.aanmelden {
  position: relative;
  z-index: 999;
	display: block;
	padding: 10px;
	width: 200px;
	background-color: #404040;
}
