:host {
  display: block;
  font-size: 1em;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  background-color: white;
}

:host([mode=child]) {
	margin: 0px 0px 0px 20px;
}



h1 {
	font-size: 1.5em;
	font-weight: 300;
	padding: 0px 20px 0px 0px;
  	background-color: white;
  	margin: 0px;
}


h2 {
	font-size: 1.5em;
	font-weight: 300;
	padding: 0px 15px 0px 0px;
  	margin: 0px;
}



h4 {
	font-size: 1.15em;
	font-weight: 300;
/*	padding: 15px 20px 15px 0px;
  	margin: 0px 0px 0px 20px;
  	border-bottom: 1px solid #EBEBEB;*/
  	margin: 0px;
  	padding: 0px;

}


p {
	color: #666666;
	min-height: 20px;
	font-size: 0.75em;
	font-weight: 300;
	padding: 0px;
	margin: 4px 0px 10px 0px;
}


.green {
	color: #00A291;
	font-weight: 600;
	font-size: 1em;
	background-color: rgba(149,210,183,0.2);
	padding: 4px 4px 2px 4px;
	margin-right: 4px;
}




.grey {
	color: #333333;
	font-weight: 600;
	font-size: 1em;
/*	background-color: rgba(149,210,183,0.15);*/
	padding: 4px 4px 2px 4px;
	margin-right: 4px;
}



.URL {
	text-decoration: underline;

}


hr {
	color: #EBEBEB;
	background-color: #EBEBEB;
	height: 1px;
	border: none;
}

a {
	text-decoration: none;
	color: #333333;
}



small {
	font-size: 0.75em;
	color: #666666;
	font-weight: 400;
}



.backbtn {
	border: none;
	background-color: white;
	text-decoration: none;
	color: #CCCCCC;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	outline: 0;
}

.backbtn:hover {
	text-decoration: underline;
}



.prevbtn {
	border: none;
	background-color: white;
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	outline: 0;
}

.prevbtn:hover {
	text-decoration: underline;
}

.voterij p {
/*  margin: 4px 0px 4px 0px;
*/  padding: 0px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
/*  width: 20px;*/
}

.voterij {
  margin: 0px;
    min-width: 35px;

}



/*.babble {
	width: 13px;
	margin: 2px 2px 0px 2px;
}
*/


.share {
	width: 14px;
	margin: 2px 0px -2px 1px;
	padding: 0px;
}


.smallicon {
	height: 14px;
	margin: 2px 2px -1px 2px;
	padding: 0px;
}






#roledefinition {
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 20px 0px;
	background-color: #F5F5F5;
}



.commentvak1 {
	margin: 0px 7px  0px 5px;
	background-color: #F5F5F5;
	padding: 2px 4px 6px 4px;
	color:#333333;

}


.commentvak2 {
	margin: 0px 7px  0px 5px;
/*	background-color: rgba(0,162,145,0.05);*/
	background-color: #F5FAF7;
	padding: 2px 4px 6px 4px;

}

.lastpost {
	margin: 0px 3px 0px 5px;
}






/* 
:host([mode=parent]) .convitem {
	margin: 0px;
	padding: 20px 12vw 20px 12vw;
	background-color: white;
}



:host([mode=parent]) .convitem h1 {
	font-weight: 300;
	color: #60BF95;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	max-width: 60vw;
}






:host([mode=child]) .convitem  {
	padding: 8px 12vw 14px 14vw;
}

:host([mode=child]) .convitem p {
	font-weight: 400;
	color: #333333;
	font-size: 16px;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	max-width: 60vw;

}

:host([mode=child]) hr {
	background-color: #EBEBEB;
	height: 1px;
	padding: 0px;
	margin: 0px 12vw 0px 12vw;
	border: none;
	width: 76vw;
}




.convitem p {
	font-weight: 300;
	color: #333333;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}



.convitem small {
	font-weight: 400;
	color: #999999;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	margin-top: 5px;

}


*/


