:host {
  display: block;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

h1 {
	font-size: 1.5em;
	font-weight: 300;
	padding: 0px 20px 0px 0px;
  	background-color: white;
  	margin: 0px;
}


h2 {
	font-size: 1.5em;
	font-weight: 300;
	padding: 0px 20px 0px 0px;
  	margin: 0px;
}



h4 {
	font-size: 1.15em;
	font-weight: 300;
	padding: 15px 20px 15px 0px;
  	margin: 0px 0px 0px 20px;
  	border-bottom: 1px solid #EBEBEB;

}


p {
	font-size: 0.75em;
	font-weight: 400;
	color: #00A291;
	padding: 0px 0px 10px 0px;
	margin: 5px 0px 0px 0px;
}


hr {
	color: #EBEBEB;
	background-color: #EBEBEB;
	height: 1px;
	border: none;
}



.backbtn {
	border: none;
	background-color: white;
	text-decoration: underline;
	color: #95d2b7;
}


.lock {
	width: 12px;
	margin-right: 5px;
}

a {
	text-decoration: none;
	color: #333333;
}
/*
.item.core-selected {
    background: #eee;
  }

 .item2.core-selected {
    background: #eee;
  }

  .item2 {
    margin-left: 20px;
  }*/

#roledefinition {
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 20px 0px;
	background-color: #F5F5F5;
}




small {
	font-size: 0.75em;
	color: #666666;
	font-weight: 400;
/*	padding: 5px 10px 5px 10px;	*/
}

.convcontent {
	border-left: 1px solid #EBEBEB;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 15px;
}


/* PARENTMODE */
:host([mode=parent]) .convitem {
/*	border-bottom: 1px solid #f5f5f5; */
	margin: 0px;
	padding: 20px 12vw 20px 12vw;
	background-color: white;
}



:host([mode=parent]) .convitem h1 {
	font-weight: 300;
	color: #60BF95;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	max-width: 60vw;
}





/* CHILDMODE */
:host([mode=child]) .convitem  {
	padding: 8px 12vw 14px 14vw;
}

:host([mode=child]) .convitem p {
	font-weight: 400;
	color: #333333;
	font-size: 16px;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	max-width: 60vw;

}

:host([mode=child]) hr {
/*	color: #f00;
*/
	background-color: #EBEBEB;
	height: 1px;
	padding: 0px;
	margin: 0px 12vw 0px 12vw;
	border: none;
	width: 76vw;
}




.convitem p {
	font-weight: 300;
	color: #333333;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}



.convitem small {
	font-weight: 400;
	color: #999999;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	margin-top: 5px;

}






/*
.convitem {
	border-bottom: 1px solid #f5f5f5;
	margin: 0px;
	padding: 20px 12vw 20px 12vw;
	background-color: white;
}


.convitem h1 {
	font-weight: 300;
	color: #72BF9D;
	font-size: 22px;
	margin: 0px;
	padding: 0px;
}

.convitem h2 {
	font-weight: 300;
	color: #333333;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}


.convitem p {
	font-weight: 300;
	color: #333333;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

@media only screen and (max-width: 320px) {

.convitem {
	border-bottom: 1px solid #f5f5f5;
	margin: 0px;
	padding: 20px 20px 20px 20px;
}

}*/