:host {
  display: block;


}

a {
	font-weight: 400;
	font-size: 18px;
	color: #219dc8;
}

p {
	margin: 0px;
	font-size: 13px;
	color: #666666;
}


.catitem {
	width: 240px;
	min-width: 24vw;
	margin: 12px 5px 12px 0px;
}