:host {
  display: block;
  width: 100vw;
  background-color: #219dc8;
}


h1 {
	color: rgba(0,0,0,0.35);
	margin: 15px 0px 5px 0px;
	font-size: 5vw;
	font-weight: 300;
	padding: 0px;
}



#container {
	width: 76vw;
	margin: 0vw 12vw 1vw 12vw;
}


#container2 {
	width: 76vw;
	margin: 0vw 12vw 2vw 12vw;
}





.stralendeA {
	width: 4vw;
	min-width: 60px;
	padding: 0vw 1vw 1vw 1vw;
}



p {
	color: white;
	margin: 0px;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
}



#startbtns {
	width: 100vw;
	background-color: #219dc8;
	margin-top: 10px;
}


.startbtn {
	background-color: rgba(255,255,255,0.05);
	min-width: 180px;
	height: 150px;
	padding: 0px 10px 0px 10px;
	margin-left: 10px;
	margin-bottom: 10px;

}


.startbtn:hover {
	background-color: rgba(255,255,255,0.08);
}



hr {
	background: rgba(0,0,0,0.1);
	height: 1px;
	width: 100vw;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}


#morebtn {
	margin-left: 12vw;
	padding: 30px 50px 30px 0px;
}



#morebtn a {
	color: rgba(0,0,0,0.25);
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
}

.knooppuntbtn {
	width: 22px; 
	min-width: 22px; 
	margin: 0px 12px 0px 8px;
}



.startbtnicon {
	opacity: 0.5;
	width: 40px;
	margin-bottom: 10px;
}













/* MOBILE UITZONDERINGEN */



@media only screen and (max-width: 320px) {

h1 {
   	font-size: 14vw;
   	font-size: 12vw;
   	margin: 15px 0px 15px 0px;
}

.stralendeA {
	width: 7vw;
		min-width: 40px;

}

#container {
	width: 76vw;
	margin: 0vw 12vw 4vw 12vw;
}


#container2 {
	width: 100vw;
	margin: 0vw 0vw 0vw 0vw;
}



.startbtn {
	background-color: rgba(255,255,255,0.05);
	min-width: 156px;
	height: 110px;
	padding: 5px 0px 5px 0px;
	margin-left: 0px;
	border: 2px solid #219dc8;
		margin-bottom: 0px;


}

p {
	color: white;
	margin: 0px;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
}


}

