:host {
	display: block;
	background-color: white;
}

button {
	background: none;
}

#favos {
	width: 100vw;
	padding: 5px 0px 10px 0px;
	background-color: white;
}

.favbutton {
	width: 16px;
	height: 16px;
}

.favbutton svg {
  fill: rgba(0,0,0,0.1);
}

.favbutton svg:hover {
  fill: rgba(0,0,0,0.6);
}


.favedbutton svg {
  fill: #219dc8;
}



#container {
	width: 76vw;
	margin: 0px 12vw 0px 12vw;
	padding-top: 40px;
}

/* GROUP !!!!!!!!!!! */

#group {
	margin: 0px 0px 50px 0px; 
}


.grouptitle {
	margin: 0px 0px 20px 0px;
	width: 76vw;

}

.grouptitle a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
	font-size: 26px;
	padding: 0px;
	margin: 0px 15px 0px 0px;
}



.grouptitle h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
	font-size: 26px;
	padding: 0px;
	margin: 0px 15px 0px 0px;
}



.groupicon {
	height: 30px;
	margin: 4px 15px 0px 0px;

}



.avataricon {
	height: 30px;
	margin: 4px 15px 0px 0px;
	border-radius: 50%;
}



.avatarbox {
	width: 5vw;
	height: 5vw;
	max-width: 30px;
	max-height: 30px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0px 15px 0px 0px;
}

.avatarbox img {
 	width: 100%;
 	min-height: 30px;
 }




/* TILE desktop !!!!!!!!!!! */

.apptile {
	background-color: rgba(0,0,0,0.05);
	width: 180px;
	height: 120px;
	padding: 30px 10px 20px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


.apptile:active {
	background-color: #EBEBEB;
}


a {
	text-decoration: none;

}

.apptile p {
	width: 160px;
	margin: 10px 10px 14px 10px;
	text-align: center;
	color: #333333;
	font-size: 14px;
}

.apptile img {
	height: 40px;
	width: 40px;
	border-radius: 60px;
	background-color: white;
	margin: 0px 55px 10px 55px;
	padding: 10px;
	opacity: 0.8;
}

.apptile img:hover {
	opacity: 1;
}


/* LIST desktop !!!!!!!!!!! */


.applist {
	background-color: rgba(0,0,0,0.05);
	width: 223px;
	padding: 12px 20px 10px 20px;
	margin: 0px 10px 10px 0px;
	height: 42px;
}


.applist p {
	width: 160px;
	text-align: left;
	color: #333333;
	height: 20px;
	font-size: 14px;
	padding: 0px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
 }

.applist img {
	height: 20px;
	width: 20px;
	border-radius: 30px;
	background-color: white;
	margin: 0px 20px 2px 0px;
	padding: 5px;
}



/* TILE/LIST SWITCH !!!!!!!!!!! */

.switcherbtn {
	background-color: none;
	border: none;
	padding: 0px;
}

.switcherbtn:active {
	background-color: none;
	border: none;
	padding: 0px;
}



.switcherbtn img {
	background-color: none;
	width: 20px;
	padding: 10px 0px 0px 0px;
}


.activated {
	opacity: 1;
}


.notactivated {
	opacity: 0.25;
}







/* MOBILE EXPETIONS !!!!!!!!!!! */	
/* MOBILE EXPETIONS !!!!!!!!!!! */	
/* MOBILE EXPETIONS !!!!!!!!!!! */	
/* MOBILE EXPETIONS !!!!!!!!!!! */	



@media only screen and (max-width: 400px) {


#favos {
	width: 100vw;
	padding: 10px 0px 0px 0px;
	background-color: #D9D9D9;
}






#container {
	width: 100vw;
	margin: 40px 0px 0px 0px;
	padding: 2px 0px 0px 0px;

}


/* TILE mobile !!!!!!!!!!!! */

.apptile {
	background-color: rgba(0,0,0,0.05);
	width: 48vw;
	padding: 25px 0px 15px 0px;
	margin: 0px 2vw 4px 0px;
}








.apptile p {
	width: 40vw;
	text-align: center;
	color: #333333;
	font-size: 14px;
	margin: 10px 4vw 10px 4vw;
}



.apptile img {
	height: 10vw;
	width: 10vw;
	border-radius: 12vw;
	background-color: white;
	margin: 0px 17vw 10px 17vw;
	padding: 2vw;
	opacity: 0.8;
}







/* LIST mobile !!!!!!!!!!!! */


.applist {
	background-color: rgba(0,0,0,0.05);
	width: 90vw;
	height: 49px;
	padding: 12px 5vw 12px 5vw;
	margin: 0px 0px 2px 0px;
/*	border-bottom: 1px solid #EBEBEB;
*/}


.applist p {
	width: 65vw;
	text-align: left;
	color: #333333;
	font-size: 14px;
}


.applist img {
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background-color: white;
	margin: 0px 12px 0px 0px;
	padding: 8px;
	opacity: 0.8;
}


#group {
	margin: 0px 0px -4px 0px; 
}


.grouptitle {
	width: 80vw;
	margin: 0px 10vw 15px 10vw;
}




.grouptitle h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
	font-size: 20px;
	margin: 0px 5px 0px 0px;
	padding: 0px;

}



.groupicon {
	height: 20px;
	margin: 4px 10px 0px 0px;
	padding: 0px;
}





}


