:host {
	display: block;
	width: 100vw;
	margin: 0px;
	padding: 0px;
}




.leaderboard {
	width: 76vw;
	padding: 0vw 12vw 0vw 12vw;
	background-color: #C0C9CF;
	height: 180px;
	margin: 0px auto 0px auto;
	display: inline-block;
}

.stralendeA {
	width: 4vw;
	min-width: 60px;
	padding: 0px;
}


.searchbox {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	border: none;
}

.appicon {
	width: 35px;
	margin-right: 10px;
	opacity: 0.5;
}



.container {
	width: 100vw;
	margin: 0px;
}



#canvas {
	width: 76vw;
	margin: 0vw 12vw 0vw 12vw;
	padding: 0px;
	}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
}

input {

}



/*.container {
	width: 100vw;
	font-family: 'Open Sans', sans-serif;
}*/


/*.kanvas {
	background-color: white;
	height: 180px;
	margin: 0px auto 0px auto;
	height: auto;
	display: inline-block;
}*/

.categories-list {
	width: 240px;
	min-width: 25vw;
	padding: 0px;
}

/*.categories-list li {
	list-style: none;
	margin: 0px 0px 40px 0px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
	font-size: 1.5em;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #333333;
	font-size: 1.2em;
}

p {
	font-size: 0.9em;
	font-weight: 400;
}

*/