:host {
	display: block;
	font-size: 1em;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.container {
	width: 80vw;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0px auto 0px auto;
	padding: 40px;
}

.leaderboard {
	background-color: #555555;
	height: 180px;
	margin: 0px auto 0px auto;
	display: inline-block;
}

.kanvas {
	background-color: white;
	height: 180px;
	margin: 0px auto 0px auto;
	height: auto;
	display: inline-block;
}

.categories-list {
	float: left;
	width: 30%;
	padding: 0px;
	margin: 0px 20px auto auto;

}

.categories-list li {
	list-style: none;
	margin: 0px 0px 40px 0px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333333;
	font-size: 1.5em;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #333333;
	font-size: 1.2em;
}

p {
	font-size: 0.9em;
	font-weight: 400;
}