:host {
  display: block;
  background-color: white;
/*  width: 50vw;
*/}


/*#newitem {
	width: 76vw;
	padding: 30px 12vw 30px 12vw; 
	border-bottom: 1px solid #EBEBEB;
}


#newitem input {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	border: 1px solid #EBEBEB;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	margin: 0px 0px 10px 0px;
	min-width: 50vw;
	padding: 1vw;
}

#newitem input:focus {
	background-color: #F5F5F5;
	border: 2px solid #72BF9D;
	outline:0;
	    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
    background: transparent;

}


#newitem p {
	color:  #6BB393;
	text-decoration: underline;
}



#inputbtns {
	padding: 0px;
	margin: 0px;
	min-width: 20vw;
}



#submitbtn {
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0px 0px 15px;
	padding: 10px;
	min-width: 50px;
	border: none;
	background-color: #72BF9D;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 300;
	color: white;
}



.itemaddons {
	color: #999999;
	text-decoration: underline;
	border: none;
	padding: 0px;
	margin: 6px 15px 6px 0px;
	background-color: white;
	font-size: 14px;
	border: 
}*/