:host {
  display: inline-block;
  overflow: hidden;
  margin: 0px auto;
  font-family: "Open Sans";
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.contents {
	padding: 0px 20px 0px 20px;
	overflow: hidden;
	display: inline-block;
}

h1 {
	font-weight: 300;
	font-size: 28px;
	padding: 10px 0px 10px 0px; 
	line-height: 120%;
	margin-bottom: 0x;
	color: #333333;
}

small {
	  font-size: 0.7em;
	  line-height: 50%;
}

p {
	  font-size: 14px;
	  line-height: 150%;
	  color: #333333;
}

.box {
/*  box-shadow: inset 0px 0px 40px rgba(0,0,0,0.6);
*/}
 
img { 

}
