:host {
	display: block;
}

.object {
	padding: 10px;
	background-color: rgba(0,0,0,0.05);
}

.object circle {
	fill:blue;
}

.object circle:hover {
	fill:black;
}

.object svg {
	width:59px;
	height:59px;
}


.object h1 {
	font-weight: 300;
}