:host {
	display: block;
}


/* GENERAL */

.object {
	display: inline-block;
	width: 100px;
	border: 1px solid blue;

}

.objecticon {
	padding: 5px;
	margin-right: 20px;
	border-radius: 50%;
}

.kidbg {
	background-color: rgba(255,255,255,0.2);
}

.parbg {
	background-color: #219dc8;
}

.objecticon svg {
	width: 60px;
	height: 60px;
}

.object:hover  {
}


.object h1 {
	font-weight: 300;
}



/* PERSOON */
/*
.persoon svg {
	width:59px;
	height:59px;
}*/