body {
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
/*  color: #333;
*/}



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


#hangouts {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

hangout-module {
  margin-left: 10px;
}

.container {
	display: inline-block;
	margin-top: 60px;
}

app-router {
	display: block;
	margin-top: 60px;
}

core-scroll-header-panel {
	height: 100%;
}


core-toolbar {
	height: 60px;
}

