body {
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
/*  color: #333;
*/}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
}

.dropped {
  position: absolute;
  border: 1px solid black;
  width: 5px;
  height: 5px;
}

paper-toast {
  right: 10px;
  left: auto;
}

.container {
	display: inline-block;
	margin-top: 60px;
}

app-router {
	display: block;
	margin-top: 60px;
}

core-scroll-header-panel {
	height: 100%;
}


core-toolbar {
	height: 60px;
}

#kaai {
  z-index: 9999;
}
