:host {
	display: block;
}


.posty {
	margin: 20px 0px 30px 0px;
	width: 100%;
/*	background-color: yellow;*/
}


:host([mode=child]) {
	margin: 20px 0px 30px 0px;
}




#poster {
	background-color: white;
	border: 1px solid #cccccc;
	padding: 10px 10px 10px 14px;
	border-radius: 0px;
	outline: 0;
	border-style:solid;
	-webkit-appearance: none;
	width: 80%;
	max-width: 600px;
}


#poster:focus {
	border: 2px solid #00A291;
}
/*
*/


small {
	font-size: 0.75em;
	color: #666666;
	font-weight: 400;
}


.permission {
	font-weight: 600;
	color: #333333;
}






.settingstrigger {
	padding: 0px;
	margin: 2px 0px 0px 0px;
}





.nostyle {
	border: none;
	-webkit-appearance: none;
	background-color: inherit;
	outline: 0;
	cursor: pointer;
}

.settingsbtn {
/*	background-color: #EBEBEB;*/
	border: 1px solid #EBEBEB;
	padding: 1px 10px 1px 10px;
	margin: 0px 2px 0px 0px;
}

.settingsbtn:hover {
background-color: #00A291;
	border: 1px solid #00A291;

/*	border: 1px solid rgba(0,162,145,0.35);
	border-bottom: 1px solid #00A291;*/
}


.settingsbtn img {
	width: 20px;
	padding: 6px 2px 6px 2px;
}


.settingscollapse {
	width: 80%;
	max-width: 580px;
	background-color: #F5F5F5;
	padding: 10px 20px 10px 20px;
	border: 1px solid #F5F5F5;
}


.close {
	padding: 0px 8px 2px 8px;
	font-size: 20px;
	font-weight: 300;
}

.close:hover {
	background-color: #cccccc;
}


/*.attachcoll {
	margin: 8px 0px 8px 0px;
}*/


/*.attachcoll img{
	width: 28px;
	margin: 0px;
	padding: 10px;	
	opacity: 0.85;
}


.attach img:hover {
	opacity: 1;
}*/