:host {
  display: block;
  padding: 0px;
  margin: 0px 0px 0px 20px;
  height: 60px;
  border: none;
/*	background-color: rgba(255,255,255,0.1);
*/}


input {
	background-color: rgba(255,255,255,0.2);
	border: none;
	border-radius: 0px;
	outline: 0;
	-webkit-appearance: none;
	padding: 5px 10px 5px 10px;
	width: 85%;
	height: 40px;
	margin: 0px;

}

input:focus {
	background-color: rgba(255,255,255,0.4);
	border: none;
	border-radius: 0px;
	outline: 0;
	border-style:none;
	-webkit-appearance: none;
	padding: 5px 10px 5px 10px;
	height: 40px;
}


.nostyle {
	margin: 0px 0px 4px 0px;
	padding: 3px;
	border: none;
	border-radius: 0px;
	background-color: transparent;
	outline: 0;
	-webkit-appearance: none;
	cursor: pointer;
}


.nostyle svg {
	opacity: 0.7;
}

.nostyle svg:hover {
	opacity: 1;
  padding: 10px 25px 10px 25px;
  border: none;
/*	background-color: rgba(255,255,255,0.1);*/
}


input {
/*	background-color: rgba(255,255,255,0.7);*/
	background-color: transparent;
	border: 2px solid rgba(255,255,255,0.7);
	border-radius: 5px;
	outline: 0;
	-webkit-appearance: none;
	padding: 5px;
	width: 150px;
	height: 20px;

}

input:focus {
	background-color: rgba(255,255,255,1);
	border: 2px solid rgba(255,255,255,0.7);
	border-radius: 5px;
	outline: 0;
	border-style:none;
	-webkit-appearance: none;
	padding: 5px;
	width: 150px;
	height: 20px;
}