:unresolved {
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.5);
    border: 1px dashed #ccc;
    border-radius: 5px;
  }
  :unresolved:after {
    padding: 15px;
    content: 'loading...';
    color: #ccc;
  }

:host {
	display: block;
/*	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;*/

}


a {
	text-decoration: none;
	color: #333333;
}


#roledefinition {
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 20px 0px;
	background-color: #F5F5F5;
}
hr {
	color: #EBEBEB;
	background-color: #EBEBEB;
	height: 1px;
	border: none;
}

small {
	font-size: 0.75em;
	color: #666666;
	font-weight: 400;
}

.canvas {
	display: block;
	/*overflow: hidden;
	height: 100%;*/
	background-color: white;
	margin: 0px;
	padding: 20px 12% 0px 12%;
	width: 76%;
}



.leaderboard {
	width: 76vw;
	padding: 0vw 12vw 20px 12vw;
	background-color: #95d2b7;
	margin: 0px;
}

.stralendeA {
	width: 4vw;
	min-width: 50px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px;
	margin: 0px;
}


.searchbox {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	border: none;
}

.leaderboard h1 {
	font-weight: 300;
	color: #333333;
	font-size: 28px;

}

.appicon {
	width: 35px;
	margin-right: 10px;
	opacity: 0.5;
}

#generalsort {
	background-color: white;
	padding: 0px;
	margin: 10px 0px 20px 0px;
}


#generalsort p {
	color: #666666;
	font-size: 11px;
	margin: 0px 10px 0px 0px;
}

.sortbtn {
	border: 1px solid #EBEBEB;
	border-bottom: 1px solid #999999;
	color: #666666;
	background-color: white;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	padding: 4px 6px 4px 6px;
	outline: 0;
	margin: 0px 5px 0px 0px;
}

.sortbtn:hover {
	border: 1px solid rgba(0,162,145,0.35);
	border-bottom: 1px solid #00A291;
	color: #00A291;
}

.sortbtn[active] {
	border: 1px solid rgba(0,162,145,0.35);
	border-bottom: 1px solid #00A291;
	color: #00A291;
}

.sortings {
		border: 1px solid #EBEBEB;
	border-bottom: 1px solid #999999;
	color: #666666;
	background-color: white;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	padding: 4px 6px 4px 6px;
	outline: 0;
	margin: 0px 5px 0px 0px;
}


/*

ba-poster {
	margin: 20px 0px 20px 0px;
}*/
