:host {
	display: block;
	width: 70vw;
	margin: 0px auto 0px auto;
	background-color: #eeeeee;
	height: 100%;
	padding: 20px;
	min-width: 320px;
}
core-animated-pages {
	display: block;
	overflow: hidden;
	/*width: 50vw;*/
	margin: 0px auto 0px auto;
	background-color: #eeeeee;
	height: 100%;
}
.item.core-selected {
    background: #eee;
  }

 .item2.core-selected {
    background: #eee;
  }

  .item2 {
    margin-left: 20px;
  }