:host {
  display: block;
  width: 100vw;
}


#container {
	width: 76vw;
	margin: 0vw 12vw 1vw 12vw;
}


#leftcolumn {
	width: 240px;
	min-width: 22vw;
	padding: 2vw;
	background-color: rgba(255,255,255,0.5);

}

#rightcolumn {
	width: 240px;
	min-width: 46vw;
	padding: 2vw;
	background-color: rgba(255,255,255,0.25);
}


#artikelLARGE {

}

#artikelLARGE h1 {
	font-weight: 300;
	font-size: 28px;
	padding: 0px;
	margin: 0px;
}


#artikelMEDIUM {

}

#artikelMEDIUM h1 {
	font-weight: 300;
	font-size: 22px;
	padding: 0px;
	margin: 0px;
}



#artikelSMALL {

}


#artikelSMALL h1 {
	font-weight: 300;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}

