:host {
	display: block;
	height: 100%;
}


.canvas {
	/*padding: 10px 12% 10px 12%;*/
	background-color: #595959;
	height: 100%;
	width: 100%;
}

#kinderen {
	margin-top: 50px;
	width: 50%;
}

.magnet img {
	width: 60px;
	height: 60px;
	border: 1px solid yellow;
	background-color: blue;
}

.plus {
	outline: 0;
	border: none;
   	-webkit-appearance: none;
   	margin: 0px 10px 0px 0px;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background-color: transparent;
	border:dotted 2px rgba(255,255,255,0.5);
}

.plus path{
	fill:  rgba(255,255,255,0.5);
}

.plus polygon {
	fill: white;
}

.plus:hover {
	background-color: #219dc8;
	border: 2px solid #219dc8;

}