:host {
  display: inline-block;
  background-color: #219DC7;
  width: 100vw;
}


#innerquick {
	width: 80vw;
  	height: 100%;
	margin: 0vw 10vw 0vw 10vw;
}


.quickie {
	width: 260px;
	padding: 8px;
	color: white;
  text-align: left;
  background-color: red;
}