:host {
	display: block;
	margin-right: 20px;


}



.notloggedin {
	padding: 20px;
}

.loggedin {
	padding: 20px;
}



p {
	font-size: 12px;
	font-weight: 300;
	color: rgba(255,255,255,0.5);
	margin: 0px;
	padding: 0px;
}


h1 {
	font-size: 22px;
	font-weight: 300;
	color: white;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}


h3 {
	font-size: 24px;
	font-weight: 300;
	color: white;
	margin: 0px;
	padding: 0px;
}

small {
	font-size: 12px;
	font-weight: 300;
	color: #219dc8;
	margin: 0px;
	padding: 0px;
	text-decoration: underline;
}



input {
	margin-bottom: 5px;
	width: 80%;
	border: none;
	border-radius: none;
	padding: 15px;
	outline: 0;
	opacity: 0.8;
}

input:focus {
	opacity: 1;
}



.aanafbtn {
	border: none;
	background-color: #219dc8;
	color: white;
	padding: 15px;
	margin: 25px 0px 0px 0px;
	width: 80%;
}



.loggedin a {
	width: 100%;
	border-bottom: 1px solid #666666;
	font-size: 16px;
	font-weight: 300;
	color: white;
	padding: 10px 0px 20px 0px;
	text-decoration: none;
}



.loggedin a:hover {
	color: #219dc8;
}
